/* Estilos para el menú de la aplicación */
.app-menu {
  background-color: #1fadc9;
  padding: 10px 20px;
}

.app-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.app-menu li {
  display: inline;
  margin-right: 10px;
}

.app-menu li:last-child {
  margin-right: 0;
}

.app-menu a {
  text-decoration: none;
  color: #030303;
}

.app-menu a:hover {
  text-decoration: underline;
}
